{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign product_form_id = 'product-form-' | append: section.id -%}
{%- form 'product', product, data-productid: product.id, class: 'product-form form main-product', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle, id: product_form_id -%}
{% assign size_title = 'size' %}

{% if section.blocks.size > 0 %}
  {% assign block_types = '' %}
  {%- for block in section.blocks -%}
    {% assign block_types = block_types | append: block.type | append: ',' %}
  {%- endfor -%}

  {%- for block in section.blocks -%}
    {% if block.type == 'variant_picker' %}
      {% assign size_title = block.settings.size_title | default: 'size' %}
      {% break %}
    {% endif %}
  {%- endfor -%}

  {% assign has_block_stock = false %}
  {% assign has_block_countdown = false %}
  {% if block_types contains 'foxkit_stock_countdown' %}
    {% assign has_block_stock = true %}
  {% endif %}
  {% if block_types contains 'foxkit_countdown_timer' %}
    {% assign has_block_countdown = true %}
  {% endif %}

  <div class="main-product__blocks">
    <input hidden name="id" data-productid="{{ product.id }}" required value="{{ product.selected_or_first_available_variant.id }}">
    {%- for block in section.blocks -%}
      <div class="main-product__block main-product__block-{{ block.type }}" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'badge' -%}
            {% assign has_tags = false %}
            {% for tag in product.tags %}
              {% if tag contains 'tag__' %}
                {% assign has_tags = true %}
              {% endif %}
            {% endfor %}
            {% if has_tags %}
              <div class="mb-4 prod__tags">
                {% render 'product-tags' %}
              </div>
            {% endif %}
          {%- when 'title' -%}
            <div class="prod__title flex justify-between items-center pr-2">
              <h1 class="text-2xl md:text-3xl md:leading-[42px] pr-2">{{ product.title }}</h1>
              {% if section.settings.show_atwl and section.settings.layout != 'layout-7'  %}
                <div class="hidden md:block">
                  {% render 'wishlist-snippet', class_name: 'sf__tooltip-left', product: product %}
                </div>
              {% endif %}
            </div>
          {%- when 'price' -%}
            <div class="prod__reviews-and-prices flex items-center justify-between">
              <div>
                {% render 'product-prices', price_class: 'text-xl md:text-2xl' %}
              </div>
            </div>
            {{ form | payment_terms }}
          {%- when 'short_description' -%}
            {% if product.metafields.descriptor.short_description != blank %}
              <div class="prod__description leading-6">{{ product.metafields.descriptor.short_description }}</div>
            {% endif %}
          {%- when 'description' -%}
            <div class="product__description prose">
              {{ product.description }}
            </div>
          {%- when 'meta' -%}
            <ul class="prod__additional_infos">
              <!-- TODO: change SKU by variant -->
              {% if block.settings.show_vendor and product.vendor != blank %}
                <li>
                  <span class="prod__additional_infos-label">{{ 'products.product.vendor' | t }}:</span>
                  <div class="prod__additional_infos-value prod__sku">{{ product.vendor }}</div>
                </li>
              {% endif %}
              {% if block.settings.show_sku %}
                <li>
                  <span class="prod__additional_infos-label">{{ 'products.product.sku' | t }}:</span>
                  <div class="prod__additional_infos-value prod__sku">{{ product.selected_or_first_available_variant.sku | default: 'N/A' }}</div>
                </li>
              {% endif %}
              {% if block.settings.show_collections and product.collections.size > 0 %}
                <li class="prod__categories">
                  <div class="prod__additional_infos-label">{{ 'products.product.collections' | t }}:</div>
                  <div class="prod__additional_infos-value">
                    {% for collection in product.collections %}
                      <a href="{{collection.url}}" class="hover:text-black">
                        {{ collection.title }}{%- if forloop.last != true -%}, {%- endif -%}
                      </a>
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            </ul>
          {%- when 'custom_field' -%}
            {% assign field_type = block.settings.field_type %}
            {% assign field_options = block.settings.field_options %}
            {% assign field_name = block.settings.title %}
            {% assign field_placeholder = block.settings.field_placeholder %}
            {% assign field_required = block.settings.field_required %}
            {% assign show_at_checkout = block.settings.show_at_checkout %}

            <div class="product__custom-field" data-field-type="{{ field_type }}">
              <label class="prod__option-label font-medium" for="{{ block.id }}">
                {{ field_name }}{% if field_required %}<sup>*</sup>{% endif %}
              </label>
              {% unless show_at_checkout %}
                {% assign field_name = field_name | prepend: '_' %}
              {% endunless %}
              <div class="product__custom-field-wrapper">
                {% case field_type %}
                  {% when 'text' %}
                    <input type="text" id="{{ block.id }}" class="form-control" placeholder="{{ field_placeholder }}" name="properties[{{- field_name -}}]"{% if field_required %} required{% endif %}>
                  {% when 'textarea' %}
                    <textarea id="{{ block.id }}" class="form-control" placeholder="{{ field_placeholder }}" name="properties[{{- field_name -}}]"{% if field_required %} required{% endif %}></textarea>
                  {% when 'select' %}
                    {% assign options = field_options | newline_to_br | split: '<br />' %}
                    <select id="{{ block.id }}" class="form-control" name="properties[{{- field_name -}}]"{% if field_required %} required{% endif %}>
                      {% if field_placeholder != blank %}<option value="">{{ field_placeholder }}</option>{% endif %}
                      {% for option in options %}
                        <option value="{{ option }}" label="{{ option }}">{{ option }}</option>
                      {% endfor %}
                    </select>
                {% endcase %}

              </div>
            </div>
          {%- when 'image_field' -%}
            {% assign field_name = block.settings.title %}
            {% assign field_required = block.settings.field_required %}
            {% assign show_at_checkout = block.settings.show_at_checkout %}

            <div class="product__custom-field" data-field-type="image_field">
              <label class="prod__option-label font-medium" for="{{ block.id }}">
                {{ field_name }}{% if field_required %}<sup>*</sup>{% endif %}
              </label>
              {% unless show_at_checkout %}
                {% assign field_name = field_name | prepend: '_' %}
              {% endunless %}
              <div class="product__custom-field-wrapper">
                <input type="file" accept="image/*" id="{{ block.id }}" class="form-control" name="properties[{{- field_name -}}]"{% if field_required %} required{% endif %}>
              </div>
            </div>
          {%- when 'visitors' -%}
            {% assign live_views_min = block.settings.live_views_range | split: '-' | first %}
            {% assign live_views_max = block.settings.live_views_range | split: '-' | last %}
            {% assign modulo_numb = live_views_max | minus: live_views_min %}
            {%- assign live_views_current = "now" | date: '%S' | modulo: modulo_numb | plus: live_views_min -%}

            <div
                class="prod__live-views flex items-center"
                data-live-views-current="{{ live_views_current }}"
                data-live-views-min="{{ live_views_min }}"
                data-live-views-max="{{ live_views_max }}"
                data-live-views-duration="{{ block.settings.live_view_duration }}"
            >
          <span class="flex-shrink-0 mr-2 {% if block.settings.live_view_icon_blinks %} animate-pulse{% endif %}" style="animation-duration: 1s;">
              {% render 'icon', name: 'eye-regular', size: 'medium' %}
          </span>
              <div class="live-views-text">
                {%- assign live_views_numb = '{count_number}' -%}
                {{ block.settings.live_views_text | replace: live_views_numb, live_views_current }}
              </div>
            </div>
          {%- when 'foxkit_stock_countdown' -%}
            {% render 'product-stock-countdown', product: product %}
          {%- when 'foxkit_countdown_timer' -%}
            <div
              class="prod__countdown hidden"
              data-days="{{ 'general.time.days' | t }}"
              data-hrs="{{ 'general.time.hrs' | t }}"
              data-mins="{{ 'general.time.mins' | t }}"
              data-secs="{{ 'general.time.secs' | t }}"
            ></div>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              <div class="product__variant-picker product-options">
                {% render 'product-option', product: product, size_title: size_title %}
              </div>
            {%- endunless -%}
          {%- when 'buy_buttons' -%}
            {% if has_block_countdown == false %}
              <div
                class="prod__countdown hidden"
                data-days="{{ 'general.time.days' | t }}"
                data-hrs="{{ 'general.time.hrs' | t }}"
                data-mins="{{ 'general.time.mins' | t }}"
                data-secs="{{ 'general.time.secs' | t }}"
              ></div>
            {% endif %}
            {% if has_block_stock == false %}
                {% render 'product-stock-countdown', product: product %}
            {% endif %}
            <div class="product-form__actions{% if block.settings.show_dynamic_checkout %}enable-dynamic-checkout{% endif %}">
              {% if block.settings.show_quantity_selector == true %}
                <label class="prod__option-label prod__option-label__quantity font-medium hidden md:block">
                  {{ 'products.product.quantity' | t }}
                </label>
              {% endif %}
              <div class="flex flex-wrap items-end">
                {% if block.settings.show_quantity_selector %}
                  <div class="form__input-wrapper form__input-wrapper--select mr-5 w-32" data-quantity-input-wrapper>
                    <label class="prod__option-label font-medium md:hidden">
                      {{ 'products.product.quantity' | t }}
                    </label>
                    {% render 'product-qty-input' %}
                  </div>
                {% endif %}
                {% if block.settings.show_atc_button %}
                  {% assign btn_class = 'sf__btn-primary' %}
                  {% if block.settings.show_dynamic_checkout %}
                    {% assign btn_class = 'sf__btn-secondary' %}
                  {% endif %}
                  {% render 'product-atc', class: btn_class, product: product %}
                  {% if section.settings.show_atwl and section.settings.layout == 'layout-7'  %}
                    <div class="ml-2 hidden md:block">{% render 'tooltip', type: 'wishlist', class_name: 'sf__tooltip-top' %}</div>
                  {% endif %}
                {% endif %}
                {% if block.settings.show_dynamic_checkout %}
                  <div class="prod__dynamic_checkout buy-one-click{% if block.settings.show_atc_button %} w-full mt-5{% else %} flex-1{% endif %}">
                    {{ form | payment_button }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="prod__form-error mt-4"></div>
            <div class="quantity-discount-hook"></div>
          {%- when 'collapsible_tab' -%}
            {% if block.settings.heading != blank %}
            <div class="prod__accordion">
              <div
                  class="sf__accordion-item overflow-hidden{% if block.settings.default_open %} open{% endif %}"
                  data-index="{{ forloop.index0 }}"
                  style="--content-max-height: {% if block.settings.default_open %}100%{% else %}0px{% endif %};"
              >
                <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 border-b border-color-border">
                  {{ block.settings.heading }}
                </div>
                <div class="sf__accordion-content">
                  <div class="py-5 prose">
                    {{ block.settings.content }}
                    {{ block.settings.liquid }}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {%- when 'text' -%}
            {% if block.settings.text != blank %}
              {% assign text_style = block.settings.text_style %}
              {% assign text_class = '' %}
              {% case text_style %}
                {% when 'subtitle' %}
                  {% assign text_class = 'text-color-subtext' %}
                {% when 'uppercase' %}
                  {% assign text_class = 'text-color-subtext uppercase text-sm' %}
              {% endcase %}
              <div class="bottom-block__text {{ text_class }}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          {%- when 'custom_text' -%}
            {% if block.settings.content != blank %}
              <div class="bottom-block__text">
                <div class="prose">
                  {{ block.settings.content }}
                </div>
              </div>
            {% endif %}
          {%- when 'custom_liquid' -%}
            {% if block.settings.custom_liquid != blank %}
              <div class="bottom-block__text">
                {{ block.settings.custom_liquid }}
              </div>
            {% endif %}
          {%- when 'trust_badge' -%}
            {% if block.settings.trust_badges_image != blank %}
              {% assign position = block.settings.position %}
              <div class="prod__trust-badges text-center prod__trust-badges--{{ position | default: 'below' }}">
                <div style="width: {{ block.settings.trust_badges_image_width }};">
                  {% render 'responsive-image', image: block.settings.trust_badges_image %}
                </div>
                {% if block.settings.trust_badges_text != blank %}
                  <h4 class="text-base">{{ block.settings.trust_badges_text }}</h4>
                {% endif %}
              </div>
            {% endif %}
          {%- when 'addons' -%}
            {% assign show_size_button = true %}
            {% assign size_title_downcase = size_title | downcase %}
            {%- for option in product.options_with_values -%}
              {% assign downcased_option = option.name | downcase %}
              {% if size_title_downcase contains downcased_option %}
                {% assign show_size_button = false %}
                {% break %}
              {% endif %}
            {% endfor %}

            <div class="actions-block border-b border-color-border">
              {% if block.settings.show_atcp or block.settings.show_ask_a_question or show_size_button %}
                <div class="prod__form-buttons flex flex-wrap">
                  {% if block.settings.show_atcp %}
                    <button class="sf-prod-compare__button in-prod-page flex items-center mr-[30px]" data-product-handle="{{ product.handle }}">
                      {% render 'icon', name: 'compare', size: 'medium' %}
                      <span class="ml-2" data-revert-text="{{ 'products.product.remove_from_compare' | t }}">
                    {{ 'products.product.add_to_compare' | t }}
                </span>
                    </button>
                  {% endif %}
                  {% if block.settings.show_ask_a_question %}
                    <button class="form-ask__button flex items-center mr-[30px]">
                      {% render 'icon', name: 'question-circle', size: 'medium' %}
                      <span class="ml-2">
                    {{ 'products.product.add_a_question' | t }}
                    </span>
                    </button>
                  {% endif %}
                  {% if show_size_button %}
                    <button data-open-sizeguide class="flex items-center mr-[30px] hidden">
                      {% render 'icon', name: 'ruler-horizontal' %}
                      <span class="ml-2">{{ 'products.product.size_guide' | t }}</span>
                    </button>
                  {% endif %}
                  {% if block.settings.show_social %}
                    <button class="flex items-center" data-open-share>
                      {% render 'icon', name: 'sharing', size: 'medium' %}
                      <span class="ml-2">
                    {{ 'products.product.social_share' | t }}
                </span>
                    </button>
                    <div class="sf-sharing hidden">
                      <div class="sf-sharing__copy-link">
                        <label for="" class="font-medium">{{ 'products.product.copy_link' | t }}</label>
                        <input type="text" class="form-control" value="{{ shop.secure_url }}{{ product.url }}">
                      </div>
                      {% assign url = shop.url | append: product.url %}
                      {% render 'social-sharing', url: url %}
                    </div>
                  {% endif %}
                </div>
                {% if block.settings.show_ask_a_question %}
                  <div class="form-ask__success-block"></div>
                {% endif %}
              {% endif %}
            </div>
          {%- when 'shipping' -%}
            <ul>
              {% if block.settings.show_delivery_times %}
                <li class="prod__delivery-times flex items-center">
                  <span class="bottom-block__icon">
                    {% render 'icon', name: 'shipping-fast', size: 'medium' %}
                  </span>
                  {% assign range =  2 | times: 24 | times: 60 | times: 60 %}
                  {% assign deliver_in =  block.settings.deliver_days | times: 24 | times: 60 | times: 60 %}
                  {% assign now = 'now' | date: "%s" %}

                  {% assign from = now | plus: deliver_in | minus: range | date: "%b %d" %}
                  {% assign to = now | plus: deliver_in | plus: range | date: "%b %d" %}

                  <div class="ml-3 flex">
                    <p><strong>{{ block.settings.deliver_text | strip_html }}</strong><span class="ml-2">{{ from }} - {{ to }}</span></p>
                  </div>
                </li>
              {% endif %}
              {% if block.settings.show_shipping_text and block.settings.shipping_text != blank %}
                <li class="prod__shipping-text flex items-center mt-2">
            <span class="bottom-block__icon">
              {% render 'icon', name: 'box', size: 'custom', class: 'w-5 h-4' %}
            </span>
                  <div class="ml-3 flex">
                    {{ block.settings.shipping_text }}
                  </div>
                </li>
              {% endif %}
            </ul>
        {%- endcase -%}
      </div>
  {%- endfor -%}
  </div>
{% endif %}
{%- endform -%}
